<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredient</title>

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}">
</head>

<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="card border-success">

                    <div class="card-heading bg-success">
                        <h2 class="card-header">Ingredient</h2>
                    </div>

                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tr>
                                <td th:text="${ingredient.id}">123</td>
                                <td th:text="${ingredient.description}">description</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>